[submodule "src/lib/external/stb"]
	path = src/lib/external/stb
	url = https://github.com/nothings/stb.git
[submodule "src/lib/external/glm"]
	path = src/lib/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/lib/external/rapidjson"]
	path = src/lib/external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "src/lib/external/zip"]
	path = src/lib/external/zip
	url = https://github.com/kuba--/zip.git
